@import "bourbon/bourbon";
@import "neat/neat";

body{
  background-color:slategrey;
  font-family:'Open Sans', sans-serif;
  margin:2em;
}


#app {
  @include outer-container;
  width: 50em;
  text-align:center;
}

#app h1 {
  color:gainsboro;
  border:8px solid gainsboro;
  padding:0.5em;
  text-transform:uppercase;
  letter-spacing:0.25em;
}

#content {
  @include span-columns(12);
  height:100%;
  background-color:gainsboro;
  padding:1em;
}

.display {
  @include span-columns(12);
  font-size:0.75em;
  font-style:italic;
}

.category, .timer {
  @include span-columns(4);
  text-align:left;
}

.timer {
  @include omega();
}

.submit-button {
  @include span-columns(7);
  margin: 1em 0em;
}

.menu {
  @include shift(3);
  p {font-weight:bold;}
}

.controls {
  margin-bottom:1em;
}

input[type=submit], input[type=button] {
  padding:0.75em;
  color:white;
  font-size:1em;
  letter-spacing:0.2em;
  font-family:'Open Sans Condensed', sans-serif;
  border:none;
  text-transform:uppercase;
  background-color:slategrey;
}

input#resume {
  background-color:firebrick;
}
